* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

body {
  color: white;
  font-family: sans-serif;
  background: linear-gradient(#2f96a3, #303e8f);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.Navigation {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  background-color: #147094; }
  .Navigation-image {
    width: 100px; }
  .Navigation-items {
    display: flex; }
    .Navigation-items li {
      margin-left: 3vw;
      font-size: 20px;
      letter-spacing: 1px; }
      .Navigation-items li a:hover {
        color: #ccc5c5;
        transition: 0.4s ease; }

.Search {
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20vh;
  margin-bottom: 10vh; }
  .Search-input {
    padding: 2vh 2vw;
    border-radius: 2vw; }
    .Search-input:focus {
      outline: none; }
  .Search-button {
    border-radius: 50%;
    background-color: #b6dce9;
    cursor: pointer; }
    .Search-button:hover {
      background-color: #85cfec;
      transition: 0.4s ease; }
    .Search-button:focus {
      outline: none; }
    .Search-button:active {
      transform: scale(0.95); }
    .Search-button img {
      width: 40px; }

.Location {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10vh; }
  .Location-weather-icon {
    margin-bottom: 10vh; }

.Temperature {
  padding: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
  padding: 20px 10px;
  cursor: pointer; }
  .Temperature:hover {
    border-radius: 100vh;
    background: #3a73c9; }
  .Temperature-degree {
    font-size: 32px;
    margin-right: 1vw; }
  .Temperature-sign {
    font-size: 20px;
    opacity: 0.8; }
