* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

body {
  color: white;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.Navigation {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  background: transparent; }
  .Navigation-image {
    width: 100px; }
  .Navigation-items {
    display: flex; }
    .Navigation-items li {
      margin-left: 3vw;
      font-size: 20px;
      letter-spacing: 1px; }
      .Navigation-items li a:hover {
        color: #ccc5c5;
        transition: 0.4s ease; }

.Search {
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 5vh; }
  .Search-input {
    padding: 2vh 2vw;
    border-radius: 2vw;
    box-shadow: -5px 10px #4f8094; }
    .Search-input:focus {
      outline: none; }
  .Search-button {
    background: transparent;
    border: none;
    cursor: pointer; }
    .Search-button:hover {
      background-color: #85cfec;
      border-radius: 50%;
      transition: 0.4s ease; }
    .Search-button:focus {
      outline: none; }
    .Search-button:active {
      transform: scale(0.95); }
    .Search-button img {
      width: 40px; }

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.Location {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10vh; }
  .Location-weather-icon {
    margin-bottom: 3vh; }
  .Location-timezone {
    margin-right: 3vw; }

.Temperature {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  cursor: pointer; }
  .Temperature-degree {
    font-size: 32px;
    margin-right: 1vw; }
  .Temperature-sign {
    font-size: 20px;
    opacity: 0.8; }

.Weather-description {
  letter-spacing: 1.5px;
  font-size: 20px; }
