* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;

}



body {
    color: white;
    font-family: sans-serif;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Navigation {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    background-color: rgb(20, 112, 148);

    &-image {
        width: 100px;
    }

    &-items {
        display: flex;

        li {
            margin-left: 3vw;
            font-size: 20px;
            letter-spacing: 1px;

            a:hover {
                color: rgb(204, 197, 197);
                transition: 0.4s ease;
            }
        }
    }
}

.Search {
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5vh;

    &-input {
        padding: 2vh 2vw;
        border-radius: 2vw;
        box-shadow: -5px 10px #4f8094;

        &:focus {
            outline: none;
        }
    }

    &-button {
        background: transparent;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: rgb(133, 207, 236);
            border-radius: 50%;
            transition: 0.4s ease;
        }

        &:focus {
            outline: none;
        }

        &:active {
            transform: scale(0.95);
        }

        img {
            width: 40px;
        }
    }
}

.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Location {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10vh;

    &-weather-icon {
        margin-bottom: 3vh;
    }

    &-timezone {
        margin-right: 3vw;
    }
}

.Temperature {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    cursor: pointer;

    &-degree {
        font-size: 32px;
        margin-right: 1vw;
    }

    &-sign {
        font-size: 20px;
        opacity: 0.8;
    }
}


.Weather {
    &-description {
        letter-spacing: 1.5px;
        font-size: 20px;
    }
}